<!--<p>acerca-de works!</p>-->
<link rel="stylesheet" href="../../../../css/home.css">
<!--Contenedor donde vendra todo lo relacionado a acerca de-->
<div class="contenedorHome">
    <div class="backgroundHome">

        <!--Titulo del apartado-->
        <div class="encabezados">
            <h1 class="Examiner">Acerca de Sr. Macondo</h1>
        </div>

        <!--Botones de navegacion a home-->
        <div class="contenedorRegresar">
            <button class="botonNavegacion" routerLink="/sr-macondo/avisame">
                <mat-icon>notifications</mat-icon>
            </button>
            <button class="botonNavegacion" routerLink="/sr-macondo/tienda">
                <mat-icon>home</mat-icon>
            </button>
        </div>

        <h5 class="balsamiq-sans-regular">Cuenta para transferencia</h5>
        <!-- Para agregar la informacion del banco-->

        <p>Ahora paga con tu banca electrónica</p>
        <div class="contenedorDiv">
            <div class="contenedorDiv">
                <div class="cuadroBanco">
                    <div class="contenedorAcercaDe">
                        <p>Banco: </p>
                        <p class="recuadro">*****************</p> 
                    </div>
                    <div class="contenedorAcercaDe">
                        <p>Cuenta interbancaria: </p>
                        <p class="recuadro">*****************</p> 
                    </div>
                </div>

                <div class="cuadroBanco">
                    <p>Qr:</p>
                    <img class="imagenQr" src="https://www.ocu.org/-/media/ta/images/_%20orphaned/qr-code.png?rev=2e1cc496-40d9-4e21-a7fb-9e2c76d6a288&hash=38DA21F2DF33F4BB3CE83BE5D2A723F5&mw=960">
                </div>
            </div>
        </div>

        <div class="separador"></div>
        <h5 class="balsamiq-sans-regular">Historia de la Empresa</h5>
        <!-- Para agregar la informacion del negocio, su historia y otras cosas-->
        <div>
            <p class="justificado">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at urna et nunc scelerisque egestas. Mauris vitae cursus risus. Cras at turpis in felis hendrerit vehicula ac ac odio. Curabitur nec egestas nisl. Suspendisse venenatis risus at congue interdum. Cras pretium commodo velit, vel dapibus velit ultricies quis. Aliquam nec auctor lacus, a interdum arcu. Duis ut lobortis tellus. Donec mollis sollicitudin ex, ut placerat est eleifend non. Proin ac sapien vel nisi pretium porttitor ut quis ante. Proin ultricies faucibus elit. Sed sodales orci non leo vehicula cursus. Fusce vulputate feugiat cursus.</p>

            <p class="justificado">Ut suscipit, odio sed gravida semper, lacus libero placerat purus, viverra fringilla quam mauris non tortor. Proin pellentesque laoreet libero placerat vulputate. Aenean nec nulla tempus, blandit risus vel, porttitor lorem. Vivamus ultrices nisl diam, quis pulvinar diam iaculis ac. Sed ullamcorper tempor eros, eget facilisis dui iaculis id. Proin porttitor posuere facilisis. Nulla vitae quam nibh. Nulla facilisi. Donec ut dictum nibh. Sed euismod sem a vestibulum dictum. Donec non scelerisque ante. Donec aliquam, nibh non pellentesque malesuada, orci mi consectetur justo, eget mollis nibh dolor in nisl. Donec quis nulla odio.</p>
            
            <p class="justificado">Sed suscipit augue urna, eu lobortis tortor fringilla eget. Suspendisse quis nisl vestibulum, consectetur ex sit amet, venenatis mauris. Nunc pulvinar condimentum libero ac blandit. Donec lorem velit, convallis id lobortis sed, volutpat nec erat. Sed pulvinar sit amet felis in sollicitudin. Nulla rhoncus sem ut enim rutrum, vel maximus lacus vulputate. Aliquam erat volutpat. Vivamus varius, ex cursus pulvinar tincidunt, mauris tortor ornare neque, vel auctor metus massa non justo. Donec sit amet molestie mi, nec tristique lorem. Nulla a tincidunt justo, id egestas lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse varius, quam eu imperdiet sodales, tellus libero tempor dui, accumsan auctor mauris arcu sit amet libero.</p>
            
            <p class="justificado">Pellentesque ultrices posuere ex eu semper. Aenean convallis tincidunt mi, vitae mattis ex efficitur at. Nulla interdum lacus a quam sollicitudin, quis sagittis diam cursus. In a enim felis. Nullam semper posuere nulla, eget malesuada libero lobortis quis. Mauris vitae risus urna. Nam risus purus, vulputate non ante quis, luctus scelerisque mi. Nunc in pulvinar erat, id malesuada elit. Curabitur et justo ultrices, rutrum purus ut, tempor sapien. Morbi vel porta sapien. Ut vitae lorem vel felis tempor malesuada. Aenean vel dictum erat, et laoreet nunc.</p>
            
            <p class="justificado">Cras dictum condimentum scelerisque. Etiam aliquet ante varius, pulvinar mauris ut, cursus dolor. Ut posuere maximus condimentum. Donec metus dui, ultricies vel eros vitae, accumsan sagittis ligula. Nullam sollicitudin dapibus magna, eu gravida turpis mattis vel. Fusce a est nec tortor efficitur lacinia. Duis posuere accumsan aliquet. Etiam semper vel tortor sit amet dignissim.</p>
            
            <p class="justificado">Fusce congue ante vitae ipsum suscipit, eget hendrerit tortor facilisis. Mauris congue massa sapien, ut pretium felis dignissim a. Quisque mattis vulputate neque sit amet gravida. Pellentesque malesuada ligula dui, quis pulvinar orci rutrum in. In hac habitasse platea dictumst. Suspendisse scelerisque hendrerit est et convallis. Praesent elementum hendrerit justo et placerat.</p>
        </div>
    </div>
</div>
