<!--<p>tienda works!</p>-->
<link rel="stylesheet" href="../../../../css/home.css">

<!--El aparador de la tienda,la primera pagina que ve el cliente al ingresar-->
<div class="contenedorTienda">
    
    <!--Apartado de la exposicion de productos-->
    <div class="contenedorProductos">

        <!--Titulo del apartado-->
        <div class="encabezados">
            <h1 class="Examiner">Tienda</h1>
        </div>

        <!--Grupo de productos de la tienda-->
        <div>
            <h5 class="balsamiq-sans-regular">Productos</h5>
            <!--Agrupacion de tarjetas que muestran a los productos-->
            <div class="contenedorCard">
                <!--Producto 1-->
                <div class="card" *ngFor="let producto of ListProducto">
                    <img [src]="producto | productoImage" [alt]="producto.Nom_Prod"
                    [ngStyle]="{ 'width': '90%', 
                        'height': 'auto',
                        'max-height': '9rem',
                        'object-fit': 'cover',
                       'margin': '10px'}">
                    <div class="card-body">
                      <h5 class="card-title">{{producto.Nom_Prod}}</h5>
                      <p class="card-text">Precio: ${{producto.Prec_Prod}}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-body-secondary">Existencias: {{producto.Exist_Prod}}</small>
                    </div>
                </div>
                


            <div>
                <button class="botonVerMas" routerLink="/sr-macondo/lista">
                    <mat-icon>more_vert</mat-icon>
                    Ver más
                </button>
            </div>

        </div>

        <div class="separador"></div>

        <!--Grupo de Alimentos de la tienda-->
        <h5 class="balsamiq-sans-regular">Sucursales</h5>
        <div class="contenedorCard">
            <div class="card" *ngFor="let sucursal of ListSucursal">
                <img [src]="sucursal | sucursalImage2" [alt]="sucursal.Nom_Suc"
                [ngStyle]="{ 'width': '90%', 
                    'height': 'auto',
                    'max-height': '9rem',
                    'object-fit': 'cover',
                   'margin': '10px'}">
                <div class="card-body">
                  <h5 class="card-title">{{sucursal.Nom_Suc}}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary"> Dirección: {{sucursal.Loc_Suc}}</small>
                </div>
            </div>
           
            <div>
                <button class="botonVerMas" routerLink="/sr-macondo/lista">
                    <mat-icon>more_vert</mat-icon>
                    Ver más
                </button>
            </div>

        </div>

        <div class="separador"></div>

        <!--Grupo de juegos de la tienda-->
        <div>
            <h5 class="balsamiq-sans-regular">Juegos</h5>
            <div class="contenedorCard">
                <div class="card" *ngFor="let juego of ListJuego">
                    <img [src]="juego | JuegoImage" [alt]="juego.Nom_Jueg"
                    [ngStyle]="{ 'width': '90%', 
                        'height': 'auto',
                        'max-height': '9rem',
                        'object-fit': 'cover',
                       'margin': '10px'}">
                    <div class="card-body">
                      <h5 class="card-title">{{juego.Nom_Jueg}}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"> ${{juego.Precio}}</small>
                    </div>
                </div>
               
    
            </div>

            <div>
                <button class="botonVerMas" routerLink="/sr-macondo/lista">
                    <mat-icon>more_vert</mat-icon>
                    Ver más
                </button>
            </div>

        </div>

    </div>
</div>

    <!--Apartado lateral donde se estan los botones de acceder a las paginas: acerca de, notificame-->
    <div class="contenedorLateral">
        <div class="backgroundTiendaLateral">
            <div class="subLateralTienda">
                Bienvenido
            </div>
            <div class="botonesLateralesGrupo">
                <!--Boton que lleva a la pagina acerca de-->
                <button class="botonLateral" routerLink="/sr-macondo/acerca-de">
                    <mat-icon>info</mat-icon>
                    Acerca de
                </button>
                <!--Boton que va a el servicio de solicitud de noticias de sr. Macondo-->
                <button class="botonLateral" routerLink="/sr-macondo/avisame">
                    <mat-icon>notifications</mat-icon>
                    Notifícame
                </button>
            </div>
        </div>
    </div>
</div>


