<!--<p>tienda works!</p>-->
<link rel="stylesheet" href="../../../../css/home.css">

<!--El aparador de la tienda,la primera pagina que ve el cliente al ingresar-->
<div class="contenedorTienda">
    
    <!--Apartado de la exposicion de productos-->
    <div class="contenedorProductos">

        <!--Titulo del apartado-->
        <div class="encabezados">
            <h1 class="Examiner">Tienda</h1>
        </div>

        <!--Grupo de productos de la tienda-->
        <div>
            <h5 class="balsamiq-sans-regular">Productos</h5>
            <!--Agrupacion de tarjetas que muestran a los productos-->
            <div class="contenedorCard">
                <!--Producto 1-->
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.yrZ8ghNH5pKPEfKYbWaVvwHaFj?rs=1&pid=ImgDetMain" class="card-img-top card-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Gansito</h5>
                      <p class="card-text"> Precio: $20</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-body-secondary">Existencias: 24</small>
                    </div>
                </div>

                <!--Producto 2-->
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.82u2MKYwCondJKZZ6p7mfQAAAA?rs=1&pid=ImgDetMain" class="card-img-top card-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Doritos Dinamita</h5>
                      <p class="card-text">Precio: $20</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-body-secondary">Existencias: 12</small>
                    </div>
                </div>

                <!--Producto 3-->
                <div class="card">
                    <img src="https://1.bp.blogspot.com/-UHazaeh-XSU/U5fUm3-YAhI/AAAAAAAAAf8/hpSu2p2NNrY/s1600/SAM_4316.JPG" class="card-img-top card-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Crackets</h5>
                      <p class="card-text">Precio: $18</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-body-secondary">Existencias: 6</small>
                    </div>
                </div>

                <!--Producto 4-->
                <div class="card">
                    <img src="https://th.bing.com/th/id/R.cfe4821823f8797b60fbe4d07e776539?rik=0fijP3nqGo4Uiw&pid=ImgRaw&r=0" class="card-img-top card-image" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Paletas de hielo</h5>
                      <p class="card-text">Precio: $15</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-body-secondary">Existencias: 42</small>
                    </div>
                </div>
            </div>

            <div>
                <button class="botonVerMas" routerLink="/sr-macondo/lista">
                    <mat-icon>more_vert</mat-icon>
                    Ver más
                </button>
            </div>

        </div>

        <div class="separador"></div>

        <!--Grupo de Alimentos de la tienda-->
        <div>
            <h5 class="balsamiq-sans-regular">Alimentos</h5>
            

            <div>
                <button class="botonVerMas" routerLink="/sr-macondo/lista">
                    <mat-icon>more_vert</mat-icon>
                    Ver más
                </button>
            </div>

        </div>

        <div class="separador"></div>

        <!--Grupo de juegos de la tienda-->
        <div>
            <h5 class="balsamiq-sans-regular">Juegos</h5>
            

            <div>
                <button class="botonVerMas" routerLink="/sr-macondo/lista">
                    <mat-icon>more_vert</mat-icon>
                    Ver más
                </button>
            </div>

        </div>

    </div>
    
    <!--Apartado lateral donde se estan los botones de acceder a las paginas: acerca de, notificame-->
    <div class="contenedorLateral">
        <div class="backgroundTiendaLateral">
            <div class="subLateralTienda">
                Bienvenido
            </div>
            <div class="botonesLateralesGrupo">
                <!--Boton que lleva a la pagina acerca de-->
                <button class="botonLateral" routerLink="/sr-macondo/acerca-de">
                    <mat-icon>info</mat-icon>
                    Acerca de
                </button>
                <!--Boton que va a el servicio de solicitud de noticias de sr. Macondo-->
                <button class="botonLateral" routerLink="/sr-macondo/avisame">
                    <mat-icon>notifications</mat-icon>
                    Notifícame
                </button>
            </div>
        </div>
    </div>
</div>

