<!--<p>lista-sucursal works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner">Sucursales</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/empleado-p/home-e">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
        <!--Tabla-->
        <div class="contenedorTabla">
            <table class="styled-table">
                <thead>
                  <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Nombre Sucursal</th>
                    <th scope="col">Num Sucursal</th>
                    <th scope="col">Localización</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">S001</th>
                    <td>Dulcería UTNG</td>
                    <td>3</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                  <tr>
                    <th scope="row">S002</th>
                    <td>Pizzería</td>
                    <td>4</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                  <tr>
                    <th scope="row">S003</th>
                    <td>Alimentos UTNG</td>
                    <td>9</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                  <tr>
                    <th scope="row">S003</th>
                    <td>Alimentos UTNG</td>
                    <td>9</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                  <tr>
                    <th scope="row">S003</th>
                    <td>Alimentos UTNG</td>
                    <td>9</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                  <tr>
                    <th scope="row">S003</th>
                    <td>Alimentos UTNG</td>
                    <td>9</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                  <tr>
                    <th scope="row">S003</th>
                    <td>Alimentos UTNG</td>
                    <td>9</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                  <tr>
                    <th scope="row">S003</th>
                    <td>Alimentos UTNG</td>
                    <td>8</td>
                    <td>Cafetería UTNG</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div>
            <button class="botonesAgregar" routerLink="/empleado-p/nueva-sucursal-e">
                Agregar sucursal
            </button>
        </div>
    </div>
    
</div>
<div>
    <p>Sucursales</p>
</div>
