<!--<p>nuevo-juego works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner"> Agregar Juego</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
                <button class="botonNavegacion" routerLink="/super-admin/juegos">
                    <mat-icon>undo</mat-icon>
                </button>
            </div>
        </div>
        <!--Contenedor del formulario-->
        <div class="contenedorInfo">
            <h3 >Datos del juego</h3>
            <div class="mb-3">
              <label for="juego" class="form-label">Juego</label>
              <input type="text" class="form-control" id="juego" placeholder="Ingresa el nombre del juego">
            </div>
            <div class="mb-3">
              <label for="costo" class="form-label">Costo</label>
              <input type="text" class="form-control" id="costo" placeholder="Costo de compra">
            </div>
            <div class="mb-3">
                <label for="renta" class="form-label">Precio Renta</label>
                <input type="text" class="form-control" id="renta" placeholder="Renta del juego">
            </div>
        </div>
        <!--Botones para guardar la informacion del empleado-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonAgreMod">
                    <mat-icon>add</mat-icon>
                    Agregar
                </button>
            </div>
        </div>
    </div>
    
</div>
<div>
    <p>Juegos</p>
</div>
