<!--<p>lista-empleado works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner"> Empleados</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
        <!--Tabla-->
        <div class="contenedorTabla">
            <table class="styled-table">
                <thead>
                  <tr>
                    <th scope="col">Codigo de Empreado</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">NSS</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Horario</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">E001</td>
                        <td>Juan Pérez</td>
                        <td>Gerente</td>
                        <td>123-45-6789</td>
                        <td>$50,000</td>
                        <td>9:00 AM - 6:00 PM</td>
                    </tr>
                    <tr>
                        <td scope="row">E002</td>
                        <td>María Gómez</td>
                        <td>Contadora</td>
                        <td>987-65-4321</td>
                        <td>$40,000</td>
                        <td>8:00 AM - 5:00 PM</td>
                    </tr>
                    <tr>
                        <td scope="row">E003</td>
                        <td>Carlos López</td>
                        <td>Ingeniero de Software</td>
                        <td>456-78-9123</td>
                        <td>$45,000</td>
                        <td>10:00 AM - 7:00 PM</td>
                    </tr>
                    <tr>
                        <td scope="row">E004</td>
                        <td>Ana Martínez</td>
                        <td>Diseñadora Gráfica</td>
                        <td>321-54-9876</td>
                        <td>$35,000</td>
                        <td>9:00 AM - 6:00 PM</td>
                    </tr>
                    <tr>
                        <td scope="row">E005</td>
                        <td>Luis Hernández</td>
                        <td>Marketing</td>
                        <td>654-32-1987</td>
                        <td>$38,000</td>
                        <td>8:00 AM - 5:00 PM</td>
                    </tr>
                    <tr>
                        <td scope="row">E006</td>
                        <td>Elena García</td>
                        <td>Recursos Humanos</td>
                        <td>789-12-3456</td>
                        <td>$42,000</td>
                        <td>9:00 AM - 6:00 PM</td>
                    </tr>
                    <tr>
                        <td scope="row">E007</td>
                        <td>Pedro Sánchez</td>
                        <td>Soporte Técnico</td>
                        <td>112-23-4567</td>
                        <td>$33,000</td>
                        <td>8:00 AM - 4:00 PM</td>
                    </tr>
                    <tr>
                        <td scope="row">E008</td>
                        <td>Laura Ortiz</td>
                        <td>Ventas</td>
                        <td>334-45-6789</td>
                        <td>$36,000</td>
                        <td>9:00 AM - 5:00 PM</td>
                    </tr>
                  
                </tbody>
              </table>
        </div>
        <div>
            <button class="botonesAgregar" routerLink="/super-admin/nuevo-empleado">
                Agregar Empleado
            </button>
        </div>
    </div>
    
</div>
<div>
    <p>Empleados</p>
</div>


