<!--<p>nuevo-empleado works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner"> Agregar Empleado</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
                <button class="botonNavegacion" routerLink="/super-admin/empleados">
                    <mat-icon>undo</mat-icon>
                </button>
            </div>
        </div>
        <!--Contenedor del formulario-->
        <div class="contenedorInfo">
            <h3 >Datos empleado</h3>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
            </div>
            <div class="mb-3">
              <label for="puesto" class="form-label">Puesto</label>
              <input type="text" class="form-control" id="puesto" placeholder="Puesto del empleado">
            </div>
            <div class="mb-3">
                <label for="NSS" class="form-label">NSS</label>
                <input type="text" class="form-control" id="NSS" placeholder="Numero de Seguro Social">
              </div>
            
              <div class="mb-3">
                <label for="Salario" class="form-label">Salario</label>
                <input type="text" class="form-control" id="Salario" placeholder="Ingrese el Salario">
              </div>
              <div class="mb-3">
                <label for="Horario" class="form-label">Horario</label>
                <input type="text" class="form-control" id="Horario" placeholder="Horario">
              </div>
        </div>
        <!--Botones para guardar la informacion del empleado-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonAgreMod">
                    <mat-icon>add</mat-icon>
                    Agregar
                </button>
            </div>
        </div>
    </div>
    
</div>
<div>
    <p>Empleados</p>
</div>
