<!--<p>lista-juego works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner">Juegos</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
        <!--Tabla-->
        <div class="contenedorTabla">
            <table class="styled-table">
                <thead>
                  <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Juego</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Precio de renta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">SJ001</th>
                    <td>Billar</td>
                    <td>10000</td>
                    <td>$15 por 15min</td>
                  </tr>
                  <tr>
                    <td scope="row">SJ003</td>
                    <td>Air Hockey</td>
                    <td>$1800</td>
                    <td>$40 por hora</td>
                  </tr>
                  <tr>
                    <td scope="row">SJ004</td>
                    <td>Pinball</td>
                    <td>$1500</td>
                    <td>$60 por hora</td>
                  </tr>
                  <tr>
                    <td scope="row">S006</td>
                    <td>Ping Pong</td>
                    <td>$700</td>
                    <td>$35 por hora</td>
                  </tr>
                  <tr>
                    <td scope="row">S007</td>
                    <td>Arcade Retro</td>
                    <td>$900</td>
                    <td>$45 por hora</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div>
            <button class="botonesAgregar" routerLink="/empleado-p/nuevo-juego-e">
                Agregar Juego
            </button>
        </div>
    </div>
    
</div>
<div>
    <p>juegos</p>
</div>

