<!--<p>principal-sa works!</p>-->
<link rel="stylesheet" href="../../../../css/sa-contenido.css">

<div class="principalContenedor">
    <div class="botonContenedor">
        <button class="botonPrincipal" routerLink="/super-admin/sucursales">Sucursales</button>
        <button class="botonPrincipal" routerLink="/super-admin/empleados">Empleados</button>
        <button class="botonPrincipal" routerLink="/super-admin/juegos">Juegos</button>
        <button class="botonPrincipal" routerLink="/super-admin/editar-info">Sobre Sr. Macondo</button>
    </div>
</div>


