<!--<p>edit-acerca-de works!</p>-->
<link rel="stylesheet" href="../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner"> Editar Informacion </h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
        <!--Contenedor de la informacion-->
        <div class="contenedorAD">
            <div>
                <label>Banco:</label>
                <input class="form-control">
            </div>
            <div>
                <label>Cuenta interbancaria:</label>
                <input class="form-control">
            </div>
            <div>
                <label>URL del código QR:</label>
                <input class="form-control">
            </div>
            <div>
                <label>Historia de la Empresa:</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <button class="botonGuardar">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
    </div>
</div>
<div>
    <p>Edicion</p>
</div>