<!--<p>nueva-sucursal works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner"> Agregar Sucursal</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
                <button class="botonNavegacion" routerLink="/super-admin/sucursales">
                    <mat-icon>undo</mat-icon>
                </button>
            </div>
        </div>
        <!--Contenedor del formulario-->
        <div class="contenedorInfo">
            <h3 >Datos de sucursal</h3>
            <div class="mb-3">
                <label for="sucursal" class="form-label">Nombre Sucursal</label>
                <input type="text" class="form-control" id="sucursal" placeholder="Sucursal">
            </div>
            <div class="mb-3">
                <label for="localizacion" class="form-label">Localización</label>
                <input type="text" class="form-control" id="localizacion" placeholder="Localización">
            </div>
        </div>
        <!--Botones para guardar la informacion del empleado-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonAgreMod">
                    <mat-icon>add</mat-icon>
                    Agregar
                </button>
            </div>
        </div>
    </div>
    
</div>
<div>
    <p>Sucursales</p>
</div>
